APP=app
ENV=dev
TIMEZONE=Asia/Shanghai
LOGGER__LEVEL=debug
JWT__SECRET=replace-with-a-random-secret-at-least-32-bytes

SERVER__0__ADDR=0.0.0.0:8620
SERVER__1__ADDR=0.0.0.0:8621
SERVER__2__ADDR=0.0.0.0:8622
